<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.prismen.prismen">



    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".start.Startseite"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".themen.Themenseite"
            android:label="@string/listThemeHeader">
        </activity>
        <activity
            android:name=".lektionen.LektionenSeite"
            android:label="@string/listLektionHeader">
        </activity>
        <activity
            android:name=".prismen.PrismenVerwaltenSeite">
        </activity>
        <activity
            android:label="@string/titleDialogSeiteHinzufuegen"
            android:name=".prismen.seite_hinzufuegen.SeiteHinzufuegenSeite">
        </activity>
        <activity
            android:name=".lernen_vorbereiten.LernenVorbereitenSeite"
            android:label="@string/themaLektionAuswaehlen">
        </activity>
        <activity
            android:name=".lernen.Lernenseite">
        </activity>
    </application>

</manifest>
